<!DOCTYPE html>
<html lang="en" style="background: black">
<head>
    <title>Sign up</title>
    <meta content="600; url=http://127.0.0.1:5000/" http-equiv="refresh">
    <meta content="Vikalp Rusia" name="Author">
    <meta charset="UTF-8">
    <link href="../static/front.css" rel="stylesheet" type="text/css">
</head>
<body style="background: black;color: white">
<p class="heading"><b>Sign up for Database</b></p>
<form action=" http://127.0.0.1:5000/register/" method="post">
    <table class="table" >
        <tr>
            <td>
                <label for="username">Username :</label>
            </td>
            <td class="data">
                <input class="input" id="username" name="username" required type="text" value="{{username}}">
            </td>
            <td style="text-align: center;font-size: 50%">
                {{username_message}}
            </td>
        </tr>
        <tr >
            <td class="data">
                <label for="password">Password :</label>
            </td>
            <td class="data">
                <input class="input" id="password" name="password" required type="password">
            </td>
            <td style="text-align: center;font-size: 50%">
                {{password_message}}
            </td>

        </tr>
        <tr >
            <td class="data">
                <label for="email">Email :</label>
            </td>
            <td class="data">
                <input class="input" id="email" name="email" required type="text" value="{{email}}">
            </td>
            <td style="text-align: center;font-size: 50%">
                {{email_message}}
            </td>

        </tr>
        <tr >
            <td class="data">
                <label for="name">Full Name :</label>
            </td>
            <td class="data">
                <input class="input" id="name" name="name" required type="text" value="{{name}}">
            </td>
            <td style="text-align: center;font-size: 50%">
                {{name_message}}
            </td>

        </tr>
        <tr >
            <td class="data">
                <label for="dob" title="Date of Birth">Dob :</label>
            </td>
            <td class="data">
                <input class="input" id="dob" name="dob" required type="date" value="{{dob}}">
            </td>
            <td style="text-align: center;font-size: 50%">
                {{dob_message}}
            </td>

        </tr>
        <tr>

            <td colspan="3" style="text-align: center">
                <p></p>
                <input style="vertical-align: 100%" type="submit" value="Sign up">
            </td>
        </tr>
    </table>
</form>
<p class="link">
    <a href="http://127.0.0.1:5000/login" style="color: yellow;" target="_self" >Already have an account</a>

</p>
</body>
</html>